.aboutme {
    background-color: rgb(230, 227, 227);
    .pro {
      text-align: center;
      div {
        margin: 2rem 0;
      }
      > div:first-child {
        font-weight: bold;
        font-size: 2rem;
      }
      > div:last-child {
        font-size: 1.5rem;
        color: #6d6464;
      }
    }
    .bread{
      .el-breadcrumb{
        font-size: 16px;
        margin: 2rem 5rem;
      }
    }
    .text {
      background-color: #fff;
      margin: 0rem 2rem;
      > div {
        padding: 4rem 4rem;
        p {
          line-height: 30px;
          font-size: 1.5rem;
          text-indent: 5rem;
        }
        >div{
          font-weight: bold;
          margin: 10px 0;
        }
      }
  
    }
    .pic2 {
      margin: 4rem 2rem;
    }
  }