@media (min-width:1024px) {
  .header {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    .row {
      display: flex;
      align-items: center;
      .left {
        display: flex;
        flex: 3;
        justify-content: center;
        align-items: center;
        color: #36d;
      }
      .center {
        display: flex;
        justify-content: space-evenly;
        flex: 6;
        align-items: center;
        .el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
          display: none;
        }
        .el-menu-demo {
          border-bottom: none;
          .el-menu-item {
            border-bottom: none;
            .el-submenu > .tempalte > .el-icon-arrow-down:before {
              display: none;
            }
          }
          .el-icon-arrow-down:before {
            content: none;
          }
        }
        .el-menu--collapse .el-menu .el-submenu > .el-menu--popup {
          min-width: 40px !important;
        }
      }
      .right {
        flex: 1;
      }
    }
  }
}
@media (max-width: 1024px) {
  .header{
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    .row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      font-size: 2rem;
      .left{
        display: flex;
        align-items: center;
      }
      .center{
        display: none;
      }
      .right{
        display: none;
      }
      .drawer{
           >div{
             text-align: center;
             line-height: 50px;
           }     
      }
    }
    
  }
  // .header {
  //   margin:0;
  //   padding: 0;
  //   background-color: #fff;
  //   width: 100%;
  //   position: fixed;
  //   z-index: 999;
  //   .row {
  //     width: 70rem;
  //     margin: 0 auto;
  //     .center {
  //       height: 60px;
  //       display: flex;
  //       justify-content: center;
  //       .el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
  //         display: none;
  //       }
  //       .el-menu-demo {
  //         border-bottom: none;
  //         .el-menu-item {
  //           border-bottom: none;
  //           .el-submenu > .tempalte > .el-icon-arrow-down:before {
  //             display: none;
  //           }
  //         }
  //         .el-icon-arrow-down:before {
  //           content: none;
  //         }
  //       }
  //       .el-menu--collapse .el-menu .el-submenu > .el-menu--popup {
  //         min-width: 40px !important;
  //       }
  //     }
  //     .left {
  //       display: flex;
  //       // align-items: center;
  //       justify-content: center;
  //       font-size: 18px;
  //       color: #36d;
  //       margin: 20px 0;
  //     }
  //     .right {
  //       display: none;
  //     }
  //   }
  // }

}
