@media (min-width:1024px) {
  .header {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    .row {
      display: flex;
      align-items: center;
      .left {
        display: flex;
        flex: 5;
        justify-content: center;
        align-items: center;
        color: #36d;
        font-size: 22px;
      }
      .center {
        display: flex;
        justify-content: space-evenly;
        flex: 5;
        align-items: center;
        .el-submenu__title{
          font-size: 18px;
        }
        .el-submenu.is-active .el-submenu__title{
          border-bottom:0px solid white !important;
        }
          .el-icon-arrow-down:before {
            content: none;
          }
        }
      .right {
        flex: 1;
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .header{
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    .row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      font-size: 2rem;
      .left{
        display: flex;
        align-items: center;
      }
      .center{
        display: none;
      }
      .right{
        display: none;
      }
      .drawer{
        width: 400px;
          .el-menu{
            display: flex;
            flex-direction: column;
            border-bottom: none;
          }
          .el-menu--horizontal>.el-menu-item.is-active{
            border-bottom:1px solid white !important;
          }
            .el-icon-arrow-down:before {
              content: none;
            }
      }
    }
    
  }

}
