@media (min-width: 1024px) {
  .f3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 100px;
  }
  .one {
    flex-basis: 56%;
    > div:first-child {
      font-size: 20px;
      > span:first-child {
        font-weight: 600;
        display: inline-block;
        padding: 20px 20px 20px 0;
      }
      > span:last-child {
        color: rgb(230, 227, 227);
      }
    }
    > div:nth-child(2) {
      line-height: 30px;
      font-size: 14px;
      height: 350px;
      overflow: hidden;
    }
    > div:last-child {
      color: #36d;
      float: right;
      padding-top: 10px;
    }
  }
  .two {
    flex-basis: 42%;
    margin-top: 80px;
    div {
      margin: 0 auto;
    }
  }
  .f4 {
    .top {
      margin: 1rem 1rem;
      > div:first-child {
        font-size: 2rem;
        > span:first-child {
          font-weight: 600;
          display: flex;
        }
        > span:last-child {
          color: rgb(230, 227, 227);
        }
      }
    }
    .main2 {
      background: url("https://oss.yesdev.cn/uploads/c4fdfba43916368965fcdfeb16983c54/20220601/YesDev20220601_213707_115606_c9f2d16c165c230dbfb4d13c908290d632.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      >div{
        width:18%;
        display: flex;
        padding: 10px 10px;        
          >img{
            width: 100%;
            height: 100%;
          }
      }
    }
  }
  .f5 {
    .top {
      margin: 1rem 1rem;
      > div:first-child {
        font-size: 2rem;
        > span:first-child {
          font-weight: 600;
          display: flex;
        }
        > span:last-child {
          color: rgb(230, 227, 227);
        }
      }
    }
    

  }
}
@media (max-width: 1024px) {
  .f3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 2rem;
    .one {
      height: 40rem;
      > div:first-child {
        font-size: 2rem;
        > span:first-child {
          font-weight: 600;
          display: flex;
        }
        > span:last-child {
          color: rgb(230, 227, 227);
        }
      }
      > div:nth-child(2) {
        line-height: 30px;
        font-size: 1.5rem;
        overflow: hidden;
      }
      > div:last-child {
        color: #36d;
        float: right;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 2rem;
      }
    }
  }

  .f4 {
    .top {
      margin: 1rem 1rem;

      > div:first-child {
        font-size: 2rem;
        > span:first-child {
          font-weight: 600;
          display: flex;
        }
        > span:last-child {
          color: rgb(230, 227, 227);
        }
      }
    }

    .main2 {
      background: url("https://oss.yesdev.cn/uploads/c4fdfba43916368965fcdfeb16983c54/20220601/YesDev20220601_213707_115606_c9f2d16c165c230dbfb4d13c908290d632.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      >div{
        width:150px;
        display: flex;
        padding: 10px 10px;        
          >img{
            width: 100%;
            height: 100%;
          }
      }
    }
  }
  .f5 {
    .top {
      margin: 1rem 1rem;
      > div:first-child {
        font-size: 2rem;
        > span:first-child {
          font-weight: 600;
          display: flex;
        }
        > span:last-child {
          color: rgb(230, 227, 227);
        }
      }
    }
  }
}


.f4 {
  .top {
    width: 100%;
    margin: 1rem 1rem;
    > div:first-child {
      font-size: 22px;
      > span:first-child {
        font-weight: 600;
        display: flex;
      }
      > span:last-child {
        color: rgb(230, 227, 227);
      }
    }
  }
  .container {
    width: 100%;
    height: 600px;
    .main1 > div >div> p {
      line-height: 20px;
      margin-top: 40px;
      color: #fff;
      text-align: center;
      white-space: pre-wrap;
    }
    // 孵化服务12张图
    .main1 {
      background: url("https://oss.yesdev.cn/uploads/c4fdfba43916368965fcdfeb16983c54/20220601/YesDev20220601_213707_115546_0051de9a7c27a608260989b53287df4b11.png")
        rgba(0, 0, 0, 0.6);
      background-repeat: no-repeat;
      opacity: 1;
      background-size: cover;
      background-blend-mode: multiply;
      overflow: hidden;
      height: 100%;
      > div {
        > div:nth-child(2) {
          width: 800px;
          margin: 0 auto;
          margin-top: 100px;
          .top {
            display: flex;
            width: 700px;
            justify-content: space-around;
            > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #fff;
              width: 60px;
              > div:first-child {
                width: 60px;
                height: 60px;
                > img {
                  width: 100%;
                  height: 100%;
                }
              }
              >div:last-child{
                font-size: 14px;
              }
            }
          }
          .center{
            display: flex;
            .top {
              width: 8px;
              height: 40px;
              margin: 0;
              background-color: rgb(249, 105, 7);
            }
            .bottom {
              width: 8px;
              height: 40px;
              margin: 0;
              background-color: rgb(249, 105, 7);
            }
            .hr {
              height: 5px;
              background-color: rgb(249, 105, 7);
              margin: 30px;
            }
          }
          .bottom {
            display: flex;
            width: 700px;
            margin-left: 80px;
            justify-content: space-evenly;
            > div {
              display: flex;
              flex-direction: column;
              color: #fff;
              width: 60px;
              > div:first-child {
                width: 60px;
                height: 60px;
                > img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
