.el-menu-demo{
    display: flex;
    justify-content: center;
    .el-menu-item{
        border: 1px solid rgb(192, 192, 192);
        width: 150px;
        text-align: center;
        border-top: 0px;
    }
}